<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @table.description %>
</p>
<p>
  <strong>Title:</strong>
  <%= @table.title %>
</p>
<% if @table.user == current.user %>
	<%= link_to 'Edit', edit_table_path(@table) %> |
<% end %>
<%= link_to 'Back', tables_path %>
